<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Agenzia Missioni Urbane</title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/components.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" crossorigin=""></script>
</head>
<body>
  {{> header}}

  <main class="container">
    {{#if error}}
      <div class="alert alert-error mb-3">{{error}}</div>
    {{/if}}
    {{#if success}}
      <div class="alert alert-success mb-3">{{success}}</div>
    {{/if}}
    
    {{{body}}}
  </main>

  {{> footer}}
</body>
</html>
