<div class="card text-center" style="max-width: 500px; margin: 50px auto;">
  <h1 class="text-red" style="font-size: 4rem;">Errore</h1>
  <h2>{{message}}</h2>
  <p class="mt-2 mb-3">Si è verificato un problema tecnico o di permessi.</p>
  <a href="/" class="btn btn-outline">Torna alla Base</a>
</div>
